<html>
  <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <style>
    div{
      display: inline-block;
      flex-wrap: nowrap;
      background-color: blue;
      margin: 5px;
    }
    button{
      height: 80px;
      width: 80px;
      color: white;
      background-color: blue;
      cursor: pointer;
    }
   
    .signup{
      top: 20px;
      right:10px;
      position: absolute;
    }
    .login{
      top: 100px;
      right:10px;
      position: absolute;
    }
    .logout{
      top: 20px;
      right:10px;
      position: absolute;
    }
    </style>
    <body>
      <% if(success.length){%>
        <h1 class="alert alert-danger" role="alert"><%=success%></h1>
      <%}%>
      
      <h2>Any Custom Error:</h2>
        <a href="/tools/new"><button>Create</button></a>
    <h2>This is listing.ejs</h2>
    <%if(!currUser){%>
    <a href="/signup" class="signup"><button>SignUp</button></a>
    <a href="/login" class="login"><button>Login</button></a>
    <%}%>
    <%if(currUser){%>
    <a href="/logout" class="logout"><button>Logout</button></a>
    <%}%>

    <% for(array of tools){ %>
      <div>
        <h2>Name: <%=array.Name %></h2>
        <h2>Released Year: <%=array.releaseYear %></h2>
        <h2>Use Case: <%=array.useCase %></h2>
        <h2>Current Time: <%=array.Date %></h2>
        <h2>User Name: <%= array.userName || 'Unknown' %></h2>
      </div>
      <a href="/tools/<%=array._id %>"><button>View Details</button></a>
    <%}%>
      <hr/>

  </body> 
</html>