<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Individual <%=tools._id%></title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">


</head>
<style>
  div{
    height: 500px;
    width: 500px;
    background-color: gray;
  }
  button{
    cursor: pointer;
  }
</style>
<body>
  <h2>Individual Listing</h2>
  <div>
    <h2>Individual Id: <%=tools._id %></h2>
    <img src="<%=tools.Logo %>" alt="<%=tools.Name%>">
    <h2>Title <%=tools.Name %></h2>
    <h2>Releajjjse Year: <%=tools.releaseYear %></h2>
    <h2>Use Case: <%=tools.useCase %></h2>
    <h2>TechStack: <%=tools.techStack %></h2>
    <h3>Description: <%=tools.Description%></h3>
    <h3>Time that was added: <%= tools.Date %></h3>
  </div>
  <br>
  <%=if(req.user && req.user==tools._id){%>
  <a href="/tools/<%=tools._id%>/edit"><button>Edit</button></a>
  <br><br><br>
 <%= }%>
  <!-- <form action="/tools/<%=tools._id%>?method_DELETE" method="post"><button>Delete</button></form> -->
  <form action="/tools/<%= tools._id %>?_method=DELETE" method="POST">
    <button>Delete</button>
  </form>
  <hr/>
  <form action="/tools/<%=tools._id%>/Like" method="post">
    
    <button><i class="fa-solid fa-thumbs-up" style="color: #74C0FC;"></i></button>
    <h2>Likes: <%=Like%></h2>
</form>
  <form action="/tools/<%=tools._id%>/disLike" method="post">
    <button><i class="fa-solid fa-thumbs-down" style="color: #74C0FC;"></i></button>
    <h2>Dislike: <%=disLike%></h2>
</form>
</body>
</html>