<html>
  <style>
    div{
      display: inline-block;
      flex-wrap: nowrap;
      background-color: blue;
      margin: 5px;
    }
    button{
      height: 80px;
      width: 80px;
      color: white;
      background-color: blue;
      cursor: pointer;
    }
    </style>
    <body>
      <h2>Any Custom Error:</h2>
      <ul>
      <%if(errors){%>
       <% for(error of error){%>
          <li>Req Flash Message <%error.msg %></li>
        <%}%>
      <%}%>
      </ul>

        <a href="/new"><button>Create</button></a>
    <h2>This is listing.ejs</h2>
    <% for(array of tools){ %>
      <div>
       <h2>Name: <%=array.Name %></h2>
       <img src="<%=array.releaseYear %>" alt="<%=array.name%>">
       <h2>Released Year:<%=array.releaseYear %></h2>
       <h2>useCase:<%=array.useCase %></h2>
       <h2>CurrentTime:<%=array.Date %></h2>
       <h2>userName: <%=array.userName %></h2>
      </div>
      <a href="/tools/<%=array._id %>"><button>View Details</button></a>
    <%}%>
  </body> 
</html>